<div class="row">
  <div class="span12">
    <h3>What's this all about?</h3>
    <p class="lead">Howdy Neighbor. You've likely seen us around, There's so many of us (more than you think) working in front and behind the scenes to make Sioux City a more creative and engaging community.</p>

    <p class="lead">Siouxwho can help bring us together. Join us.</p>

    <div class="row">
      <div class="span6">
        <h4 class="title-bg">Building Relationships</h4>
        <p>Browse Siouxwho on Monday. Three days later, you run into someone you found interesting and say "Hello". Coffee happens. Project happens. Magic!</p>
      </div>
      <div class="span6">
        <h4 class="title-bg">Friendly Strangers</h4>
        <p>So you're out and about and you see someone you recognize, Can't place the name? It happens to all of us. Next time, skim Siouxwho and strike up a conversation.</p>
      </div>

      <div class="span12">
        <%= image_tag "SiouxCityLove.jpg" %>
      </div>
    </div>
  </div>
</div>

</div> <!-- End Container -->

<style type="text/css" media="screen">
  p{
    font-size: 16px;
    line-height: 1.5;
  }
</style>